{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light">
                {{ end }}
                
                <!-- VIDEO -->
                <center>
                  <video controls="controls" poster="/img/poster.jpg" crossorigin="crossorigin" width="100%">
                    <source src="https://download.fsfe.org/videos/pmpc/pmpc_desktop.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' media="screen and (min-device-width:1000px)" />
                    <source src="https://download.fsfe.org/videos/pmpc/pmpc_mobile.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' media="screen and (max-device-width:999px)" />
                    
                    <!--
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.en.vtt" kind="subtitle" srclang="en" label="English" default="default">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.de.vtt" kind="subtitle" srclang="de" label="Deutsch">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.el.vtt" kind="subtitle" srclang="el" label="Ελληνικά">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.es.vtt" kind="subtitle" srclang="es" label="Español">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.fr.vtt" kind="subtitle" srclang="fr" label="Français">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.it.vtt" kind="subtitle" srclang="it" label="Italian">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.nl.vtt" kind="subtitle" srclang="nl" label="Nederlands">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.sq.vtt" kind="subtitle" srclang="sq" label="Shqip">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.tr.vtt" kind="subtitle" srclang="tr" label="Türkçe">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.sr.vtt" kind="subtitle" srclang="sr" label="српски">
                    <track src="https://download.fsfe.org/videos/15years/vtt/15years-FSFE.et.vtt" kind="subtitle" srclang="et" label="eesti keel">

                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.en.srt" kind="subtitle" srclang="en" label="English">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.de.srt" kind="subtitle" srclang="de" label="Deutsch">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.el.srt" kind="subtitle" srclang="el" label="Ελληνικά">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.es.srt" kind="subtitle" srclang="es" label="Español">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.fr.srt" kind="subtitle" srclang="fr" label="Français">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.it.srt" kind="subtitle" srclang="it" label="Italian">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.nl.srt" kind="subtitle" srclang="nl" label="Nederlands">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.sq.srt" kind="subtitle" srclang="sq" label="Shqip">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.tr.srt" kind="subtitle" srclang="tr" label="Türkçe">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.sr.srt" kind="subtitle" srclang="sr" label="српски">
                    <track src="https://download.fsfe.org/videos/15years/srt/15years-FSFE.et.srt" kind="subtitle" srclang="et" label="eesti keel">
                    -->

                  </video>
                </center>
                <!-- /VIDEO -->
                
                {{ with .Site.Params.about.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.about.buttonText }}
                    <a href="#arguments" class="btn btn-default btn-xl page-scroll">{{ . }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
