{{ "<!-- SIGN -->" | safeHTML }}
<section class="bg-primary" id="action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ .Site.Params.action.headline }}</h2>
                <hr class="light">
                <p><strong>{{ .Site.Params.action.subheadline}}</strong> <br />
                {{ .Site.Params.action.description | markdownify }}</p>
                
                <form action="/sign" method="post">
                  <label class="sign-input form-na">
                    <input name="name" placeholder="{{ .Site.Params.action.formName }}" type="text" required />
                  </label>
                  <label class="sign-input form-em">
                    <input name="email" placeholder="{{ .Site.Params.action.formEmail }}" type="email" required />
                  </label>
                  <label class="sign-input form-cn">
                    <select name="country">
                      <option value="">{{ .Site.Params.action.formCountry }}</option>
                      <option value="Austria">Austria</option>
                      <option value="Belgium">Belgium</option>
                      <option value="Bulgaria">Bulgaria</option>
                      <option value="Croatia">Croatia</option>
                      <option value="Cyprus">Cyprus</option>
                      <option value="Czech Republic">Czech Republic</option>
                      <option value="Denmark">Denmark</option>
                      <option value="Estonia">Estonia</option>
                      <option value="Finland">Finland</option>
                      <option value="France">France</option>
                      <option value="Germany">Germany</option>
                      <option value="Greece">Greece</option>
                      <option value="Hungary">Hungary</option>
                      <option value="Ireland">Ireland</option>
                      <option value="Italy">Italy</option>
                      <option value="Latvia">Latvia</option>
                      <option value="Lithuania">Lithuania</option>
                      <option value="Luxembourg">Luxembourg</option>
                      <option value="Malta">Malta</option>
                      <option value="Netherlands">Netherlands</option>
                      <option value="Poland">Poland</option>
                      <option value="Portugal">Portugal</option>
                      <option value="Romania">Romania</option>
                      <option value="Slovakia">Slovakia</option>
                      <option value="Slovenia">Slovenia</option>
                      <option value="Spain">Spain</option>
                      <option value="Sweden">Sweden</option>
                      <option value="United Kingdom">United Kingdom</option>
                      <option value="Outside the EU">Outside the EU</option>
                    </select>
                  </label>
                  <label class="sign-input form-zp">
                    <input name="zip" placeholder="{{ .Site.Params.action.formZip }}" type="text" />
                  </label>
                  <p class="form-pe">
                    <label class="form-pe">
                      <input name="permissionPriv" value="yes" type="checkbox" required /> {{ .Site.Params.action.formPermissionPriv | markdownify }}
                    </label>
                    <br />
                    <label class="form-pe">
                      <input name="permissionNews" value="yes" type="checkbox" checked="checked" /> {{ .Site.Params.action.formPermissionNews }}
                    </label>
                    <br />
                    <label class="form-pe">
                      <input name="permissionPub" value="yes" type="checkbox" checked="checked" /> {{ .Site.Params.action.formPermissionPub | markdownify}}
                    </label>
                  </p>
                  
                  <label id="honey"> <!-- Honeypot for spam -->
                    <p>Please do not put anything here:</p>
                    <input name="url" type="text" />
                  </label>
                  <br />
                  <button name="action" value="sign" type="submit">{{ .Site.Params.action.formSubmit }}</button>
                </form>
            </div>
        </div>
    </div>
</section>
