{{ "<!-- LANGUAGE -->" | safeHTML }}
<section id="language">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="hidden">{{ .Site.Params.navigation.links.language }}</h2>
        <p>{{ .Site.Params.language.description }}:</p>
        <p style="font-size:25px;"><i class="fa fa-globe" aria-hidden="true" style="font-size:1.5em;vertical-align:top;"></i></p>
        <ul>
          <li>{{ .Site.Params.languageName }}</li>
          {{ range sort .Translations ".Lang" "asc" }}
            <li><a href="{{ .RelPermalink }}">{{ .Site.Params.languageName }}</a></li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</section>
