{{ "<!-- LEGAL -->" | safeHTML }}
<section id="legal">
  <div class="text-center">  
    <h2 class="hidden">Legal Information</h2>
    <p>{{ .Site.Params.legal.contribute1 }} <a href="https://github.com/fossasia/publiccode.asia" target="_blank">{{ .Site.Params.legal.contribute2 }}</a></p>
    <p>{{ .Site.Params.legal.by }} <a href="https://fossasia.org/" target="_blank"></a>
    – <a href="{{ "imprint/" | relLangURL }}">{{ .Site.Params.legal.imprint }}</a> 
    | <a href="{{ "privacy/" | relLangURL }}">{{ .Site.Params.legal.privacy }}</a> 
    – Copyright &copy; {{ (now).Year }}</p>
    <p>{{ .Site.Params.legal.license | markdownify }}</p>
  </div>
</section>

 <a class="page-scroll hiddenlink" href="#page-top" title="Scroll to top">
  <div id="scroll-to-top" style="display:none">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>
</a> 
