{{ "<!-- RESOURCES MODALS -->" | safeHTML }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ range $data.resources }}
<div class="resources-modal modal fade" id="{{ .shortLink }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}
                        <img src="img/resources/{{ .img }}" class="img-responsive img-centered" alt="">
                        {{ with .description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                        {{ if .date }}
                            <ul class="list-inline item-details">
                                <li>{{ with $.Site.Params.resources.modal.date }}{{.}}: {{ end }}
                                    <strong><a href="#">{{ .date }}</a></strong>
                                </li>
                            </ul>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
