{{ "<!-- ORGANISATIONS -->" | safeHTML }}
<section id="organisations">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading">{{ .Site.Params.organisations.headline }}</h2>
        <hr />
        <!-- replace the URL defined in config.toml because this snipped is used in sub-pages too -->
        <p>{{ replace .Site.Params.organisations.text "openletter/" ("/openletter" | relLangURL)  | markdownify }}</p>
        <div class="orgs">
          <ul>
            {{ range .Site.Data.organisations }}
              {{ range sort . "name" }}
                  <li><a href="{{ .url }}" class="hiddenlink" title="{{ .name }}" style="background-image: url(/img/organisations/{{ .img }})" target="_blank"></a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
</section>
