{{ "<!-- ORGANISATIONS -->" | safeHTML }}
<section id="organisations">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading">{{ .Site.Params.organisations.headline }}</h2>
        <hr />
        <p>{{ .Site.Params.organisations.text | markdownify }}</p>
        <div class="orgs">
          <ul>
            {{ range .Site.Data.signees }}
              {{ range sort . "name" }}
                  <li><a href="{{ .url }}" class="hiddenlink" title="{{ .name }}" style="background-image: url(/img/signees/{{ .img }})" target="_blank"></a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
</section>
