{{ "<!-- RESOURCES -->" | safeHTML }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="no-padding" id="resources">
    <div class="container-fluid">
      <h2 class="hidden">{{ .Site.Params.navigation.links.resources }}</h2>
        <div class="row no-gutter">
            {{ range .Site.Params.resources.list }}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ .link }}" class="resources-box resources-link">
                        <img src="{{ "img/resources/" | absURL }}{{ .img }}" class="img-responsive" alt="">
                        {{ if .title }}
                            <div class="resources-box-caption">
                                <div class="resources-box-caption-content">
                                    {{ with .title }}
                                        <div class="resource-name">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                    {{ with .description }}
                                        <div class="resource-description">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
