{{ "<!-- SPREAD -->" | safeHTML }}
<section id="spread" class="bg-dark">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              {{ with .Site.Params.spread.headline }}
                  <h2 class="section-heading">{{ . }}</h2>
              {{ end }}
              {{ with .Site.Params.spread.promoText }}
                  <p class="text-faded">{{ . | markdownify }}</p>
              {{ end }}
                  <a href="{{ .Site.Params.static.promoLink }}" class="btn btn-default btn-xl page-scroll wow tada">{{ .Site.Params.spread.promoButtonText }}</a>
              <hr class="light">
              {{ with .Site.Params.spread.shareText }}
                  <p class="text-faded">{{ . | markdownify }}</p>
              {{ end }}
              
              <div class="share-buttons">
              {{ .Site.Params.spread.shareTitle }}

              {{ $data := index .Site.Data.share .Site.Language.Lang }}
              {{ partial "functions/share_buttons.html" (dict "type" "spread" "defaultSocialText" .Site.Params.spread.defaultSocialText "url" .Site.Params.static.url "lang" ("/" | relLangURL) "data" $data) }}
              </div>
            </div>
        </div>
    </div>
</section>
