{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="logo">
                <img src="../img/logo.svg" alt="{{ .Site.Params.start.alt }}" />
                <h1>
                    <span class="logo-blue">{{ .Site.Params.start.slogan_1 }}</span>
                    <span class="logo-green">{{ .Site.Params.start.slogan_2 }}</span>
                </h1>
                <h2>{{ .Site.Params.start.fsfe }}</h2>
            </div>

            {{ if and .Site.Params.start.slogan_1 .Site.Params.start.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.start.subtitle }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
            {{ with .Site.Params.start.buttonText }}
                <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</header>
