<table id="signatures">
  <thead>
    <tr>
      <th>{{ .Params.tableName }}</th>
      <th>{{ .Params.tableCountry }}</th>
      <th>{{ .Params.tableComment }}</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Site.Data.signatures }}
      {{ range . }}
        {{ if (eq .include_vars.permissionPub "yes") }}
         <tr>
            <td>{{ .include_vars.name }}</td>
            <td>{{ .include_vars.country }}</td>
            <td>{{ .include_vars.comment }}</td>
         </tr>
         {{ end }}
      {{ end }}
    {{ end }}
  </tbody>
</table>
