<table id="signatures">
  <thead>
    <tr>
      <th>{{ .Params.tableName }}</th>
      <th>{{ .Params.tableCountry }}</th>
      <th>{{ .Params.tableComment }}</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Site.Data.signatures.data }}
      {{ range sort . "id" "desc" }}
        {{ if (eq .confirmed "yes") | and (eq .permPub "yes")  }}
         <tr>
            <td>{{ .name }}</td>
            <td>{{ .country }}</td>
            <td>{{ .comment }}</td>
         </tr>
        {{ end }}
      {{ end }}
    {{ end }}
  </tbody>
</table>

<pre>
{{ readFile "data/signatures/data/signatures_clean.json" }}
</pre>
