.share-buttons a {
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  border-radius: 3px;
  color: #000;
  display: inline-block;
  margin: 2.5px 5px 2.5px 0;
  min-width: 120px;
  opacity: 0.9;
  padding: 7px 7px 7px 30px;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
  font-weight: 700;
}

.share-buttons a#facebook {
  background-color: #3b5998;
  background-image: url("/img/share/facebook_white.png");
  color: #fff;
}
.share-buttons a#facebook:hover {
  background-color: #143271 !important;
}
.share-buttons a#twitter {
  background-color: #55acee;
  background-image: url("/img/share/twitter_white.png");
  color: #fff;
}
.share-buttons a#twitter:hover {
  background-color: #338acc !important;
}
.share-buttons a#gplus {
  background-color: #d34836;
  background-image: url("/img/share/gplus_white.png");
  color: #fff;
  display: none;
}
.share-buttons a#gplus:hover {
  background-color: #b12614 !important;
}
.share-buttons a#diaspora {
  background-color: #404040;
  background-image: url("/img/share/diaspora_white.png");
  color: #fff;
}
.share-buttons a#diaspora:hover {
  background-color: #101010 !important;
}
.share-buttons a#flattr {
  background-color: #7ea352;
  background-image: url("/img/share/flattr_white.png");
  color: #fff;
}
.share-buttons a#flattr:hover {
  background-color: #5a7f2e !important;
}
.share-buttons a#support {
  background-color: #202d79;
  background-image: url("/img/share/fsfe_white.png");
  color: #fff;
}
.share-buttons a#support:hover {
  background-color: #0a1763 !important;
}
.share-buttons a#reddit {
  background-color: #ff5700;
  background-image: url("/img/share/reddit_white.png");
  color: #fff;
}
.share-buttons a#reddit:hover {
  background-color: #dd3500 !important;
}
.share-buttons a#gnusocial {
  background-color: #a22430;
  background-image: url("/img/share/gnusocial_white.png");
  color: #fff;
}
.share-buttons a#gnusocial:hover {
  background-color: #850713 !important;
}
.share-buttons a#hnews {
  background-color: #ff6600;
  background-image: url("/img/share/hackernews_white.png");
  color: #fff;
}
.share-buttons a#hnews:hover {
  background-color: #dd3500 !important;
}
