/* LANGUAGE SECTION */
#language {
    color: #fff;
    background-color: #333;
    padding: 20px;
}
#language p {
  margin-bottom: 5px;
}
#language ul {
  padding: 0px;
}
#language li {
  display: inline-block;
  margin-right: 10px;
}
#language li::before {
  content: "› ";
}

/* LEGAL SECTION */
#legal {
  color: #fff;
  background-color: #000;
  padding: 10px;
  margin: 0px;
}
#legal p {
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
}

/* SIGN FORM */
#sign form {
  color: #333;
  font-size: 18px;
}
#sign form label {
  font-weight: 400;
}
.sign-input {
  position: relative;
}
.sign-input:before {
  font-family: "FontAwesome";
  font-size: 20px;
  position: absolute;
  left: 4px;
  top: 2px;
}
.sign-input input {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  border-radius: 7px;
  padding: 0 0 0 30px;
  width: 270px;
  height: 31px;
}
.sign-input select {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  border-radius: 7px;
  padding: 0 0 0 30px;
  width: 270px;
  height: 31px;
}
.form-na:before {
  content: "\f2c3";
}
.form-em:before {
  content: "\f003";
}
.form-cn:before {
  content: "\f041";
  padding-left: 4px;
}
.form-zp:before {
  content: "\f08d";
  padding-left: 3px;
}
p.form-pe {
  text-align: left;
  max-width: 530px; /* to not let the checkboxed go far more left than the input boxes above */
  margin: 0 auto;
}
p.form-pe a {
  color: inherit;
  text-decoration: underline;
}
#honey {
  display: none;
}

/* SIGNATURE TABLE */
table.signatures {
  margin: 0 auto;
}
table.signatures th, table.signatures td {
  border: 1px solid darkgrey;
  border-collapse: collapse;
  text-align: left;
  padding: 2px;
}

/* SHARE BUTTONS IN "SPREAD THE WORD" SECTION */
.share-buttons a {
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  border-radius: 3px;
  color: #000;
  display: inline-block;
  margin: 2.5px 5px 2.5px 0;
  min-width: 120px;
  opacity: 0.9;
  padding: 7px 7px 7px 30px;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
  font-weight: 700;
}

.share-buttons a#facebook {
  background-color: #3b5998;
  background-image: url("/img/share/facebook_white.png");
  color: #fff;
}
.share-buttons a#facebook:hover {
  background-color: #143271 !important;
}
.share-buttons a#twitter {
  background-color: #55acee;
  background-image: url("/img/share/twitter_white.png");
  color: #fff;
}
.share-buttons a#twitter:hover {
  background-color: #338acc !important;
}
.share-buttons a#gplus {
  background-color: #d34836;
  background-image: url("/img/share/gplus_white.png");
  color: #fff;
  display: none;
}
.share-buttons a#gplus:hover {
  background-color: #b12614 !important;
}
.share-buttons a#diaspora {
  background-color: #404040;
  background-image: url("/img/share/diaspora_white.png");
  color: #fff;
}
.share-buttons a#diaspora:hover {
  background-color: #101010 !important;
}
.share-buttons a#flattr {
  background-color: #7ea352;
  background-image: url("/img/share/flattr_white.png");
  color: #fff;
}
.share-buttons a#flattr:hover {
  background-color: #5a7f2e !important;
}
.share-buttons a#support {
  background-color: #47a447;
  background-image: url("/img/share/support_red.png");
  color: #fff;
}
.share-buttons a#support:hover {
  background-color: #2a872a !important;
}
.share-buttons a#reddit {
  background-color: #ff5700;
  background-image: url("/img/share/reddit_white.png");
  color: #fff;
}
.share-buttons a#reddit:hover {
  background-color: #dd3500 !important;
}
.share-buttons a#gnusocial {
  background-color: #a22430;
  background-image: url("/img/share/gnusocial_white.png");
  color: #fff;
}
.share-buttons a#gnusocial:hover {
  background-color: #850713 !important;
}
.share-buttons a#hnews {
  background-color: #ff6600;
  background-image: url("/img/share/hackernews_white.png");
  color: #fff;
}
.share-buttons a#hnews:hover {
  background-color: #dd3500 !important;
}
