<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.reasons .Site.Params.navigation.links.resources .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.start }}
            {{ partial "start.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ if .Site.Params.reasons.list }}
            {{ partial "reasons.html" . }}
        {{ end }}

        {{ if .Site.Data.resources }}
            {{ partial "resources.html" . }}
        {{ end }}

        {{ if .Site.Params.spread }}
            {{ partial "spread.html" . }}
        {{ end }}

        {{ if .Site.Params.contact }}
            {{ partial "contact.html" . }}
        {{ end }}

        {{ if .Site.Data.resources }}
            {{ partial "modals.html" . }}
        {{ end }}
        
        {{ partial "sharecolumn.html" . }}

        {{ partial "js.html" . }}
    </body>
</html>
