{{ "<!-- NAVIGATION ON PAGES -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="hiddenlink" href="{{ "/#action" | relLangURL }}">
              <div class="logo">
                <img src="/img/logo.svg" alt="Logo of the campaign" />
                <span class="logo-blue">Public Money</span>
                <span class="logo-green">Public Code</span>
              </div>
            </a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ "/" | relLangURL }}">{{ .Site.Params.navigation.links.start }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#language" title="Change Language"><i class="fa fa-globe" aria-hidden="true" style="font-size:1.5em;vertical-align:top;"></i> {{ .Site.Params.navigation.links.language }}</a>
                    </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
