{{ "<!-- SIGNATURES -->" | safeHTML }}
<section class="bg-primary" id="signatures">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.subpage.signatures.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.subpage.signatures.headline .Site.Params.subpage.signatures.description }}
                    <hr class="light">
                {{ end }}

                <p class="text-faded">{{ .Site.Params.subpage.signatures.description | markdownify }} 
                <a href="{{ "#action" | relLangURL }}"><strong>{{ .Site.Params.action.formSubmit }}</strong></a></p>

                <table id="sigtable">
                  <thead>
                    <tr>
                      <th>{{ .Params.tableName }}</th>
                      <th>{{ .Params.tableCountry }}</th>
                      <th>{{ .Params.tableComment }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ $json := getJSON "data/signatures/signatures.json" }}
                    {{ $json := where $json "include_vars.permissionPub" "yes" }}

                    {{ range sort $json "timestamp" "desc" | first 10 }}
                       <tr>
                          <td>{{ .include_vars.name }}</td>
                          <td>{{ .include_vars.country }}</td>
                          <td>{{ .include_vars.comment }}</td>
                       </tr>
                    {{ end }}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
