{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery.js" | absURL }}"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ "js/jquery.easing.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.fittext.js" | absURL }}"></script>
<script src="{{ "js/wow.min.js" | absURL }}"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ "js/creative.js" | absURL }}"></script>
