/* LANGUAGE SECTION */
#language {
    color: #fff;
    background-color: #333;
    padding: 20px;
}
#language p {
  margin-bottom: 5px;
}
#language ul {
  padding: 0px;
}
#language li {
  display: inline-block;
  margin-right: 10px;
}
#language li::before {
  content: "› ";
}

/* LEGAL SECTION */
#legal {
  color: #fff;
  background-color: #000;
  padding: 10px;
  margin: 0px;
}
#legal p {
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
}
#legal a {
    color: #83bdd6;
}
#legal a:hover {
    color: #2093C4;
}

#contact .fa { margin: 10px 0 }

/* SIGN FORM */
#sign form {
  color: #333;
  font-size: 18px;
}
#sign form label {
  font-weight: 400;
}
.sign-input {
  position: relative;
}
.sign-input:before {
  font-family: "FontAwesome";
  font-size: 20px;
  position: absolute;
  left: 4px;
  top: 2px;
}
.sign-input input {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  border-radius: 7px;
  padding: 0 0 0 30px;
  width: 270px;
  height: 31px;
}
.sign-input select {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  border-radius: 7px;
  padding: 0 0 0 30px;
  width: 270px;
  height: 31px;
}
.form-na:before {
  content: "\f2c3";
}
.form-em:before {
  content: "\f003";
}
.form-cn:before {
  content: "\f041";
  padding-left: 4px;
}
.form-zp:before {
  content: "\f08d";
  padding-left: 3px;
}
p.form-pe {
  text-align: left;
  max-width: 530px; /* to not let the checkboxed go far more left than the input boxes above */
  margin: 0 auto;
}
p.form-pe a {
  color: inherit;
  text-decoration: underline;
}
#honey {
  display: none;
}

/* SIGNATURE TABLE */
table.signatures {
  margin: 0 auto;
}
table.signatures th, table.signatures td {
  border: 1px solid darkgrey;
  border-collapse: collapse;
  text-align: left;
  padding: 2px;
}

/* SPECIAL LINK UNDERLINE EFFECT */
a:not(.btn) {
  box-shadow: 0 0 1px transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transform: perspective(1px) translateZ(0px);
  vertical-align: middle;
}
a:not(.btn)::before {
  background: #006d9e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  right: 50%;
  transition-duration: 0.3s;
  transition-property: left, right;
  transition-timing-function: ease-out;
  z-index: -1;
}
a:not(.btn):hover::before, a:not(.btn):focus::before, a:not(.btn):active::before {
  left: 0;
  right: 0;
}
