{{ "<!-- LANGUAGE -->" | safeHTML }}
<section id="language">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>{{ .Site.Params.language.description }}:</p>
        <p style="font-size:25px;"><i class="fa fa-globe" aria-hidden="true" style="font-size:1.5em;vertical-align:top;"></i></p>
        <ul>
          <li><a href="/">English</a></li>
          <li><a href="/de">Deutsch</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
