{{ "<!-- LEGAL -->" | safeHTML }}
<section id="legal">
  <div class="text-center">
    <p>{{ .Site.Params.legal.by }} (<a href="https://fsfe.org/index.{{ .Lang }}.html" target="_blank">FSFE</a>) 
    – <a href="https://fsfe.org/about/legal/imprint.{{ .Lang }}.html" target="_blank">{{ .Site.Params.legal.imprint }}</a> 
    | <a href="https://fsfe.org/about/legal/imprint.{{ .Lang }}.html#id-privacy-policy" target="_blank">{{ .Site.Params.legal.privacy }}</a> 
    | <a href="https://fsfe.org/about/transparency-commitment.{{ .Lang }}.html" target="_blank">{{ .Site.Params.legal.transparency }}</a> 
    – Copyright &copy; {{ (now).Year }}</p>
    <p>{{ .Site.Params.legal.license }}</p>
  </div>
</section>
