{{ "<!-- SUBPAGE SIGNATURES -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1>{{ .Site.Params.Subpage.Signatures.Headline }}</h1>
            <hr />
            <table class="signatures">
              <tbody>
                <tr>
                  <th>{{ .Site.Params.Subpage.Signatures.name }}</th>
                  <th>{{ .Site.Params.Subpage.Signatures.country }}</th>
                  <th>{{ .Site.Params.Subpage.Signatures.zip }}</th>
                </tr>
                {{ range .Site.Data.signatures }}
                  {{ range sort . "id" "desc" }}
                    {{ if (eq .confirmed "yes") | and (eq .permPub "yes")  }}
                     <tr>
                        <td>{{ .name }}</td>
                        <td>{{ .country }}</td>
                        <td>{{ .zip }}</td>
                     </tr>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
    </div>
</header>
