{{ "<!-- SIGN -->" | safeHTML }}
<section class="bg-primary" id="sign">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ .Site.Params.sign.headline }}</h2>
                <hr class="light">
                <p class="text-faded">{{ .Site.Params.sign.description | markdownify }}</p>
                
                <form action="/cgi/sign.php" method="post">
                  <label class="sign-input form-na">
                    <input name="name" placeholder="{{ .Site.Params.sign.formName }}" type="text" required />
                  </label>
                  <label class="sign-input form-em">
                    <input name="email" placeholder="{{ .Site.Params.sign.formEmail }}" type="email" required />
                  </label>
                  <label class="sign-input form-cn">
                    <input name="country" placeholder="{{ .Site.Params.sign.formCountry }}" type="text" />
                  </label>
                  <label class="sign-input form-zp">
                    <input name="zip" placeholder="{{ .Site.Params.sign.formZip }}" type="text" />
                  </label>
                  <p class="form-pe">
                    <label class="form-pe">
                      <input name="permissionPriv" value="yes" type="checkbox" required /> {{ .Site.Params.sign.formPermissionPriv | markdownify }}
                    </label>
                    <br />
                    <label class="form-pe">
                      <input name="permissionNews" value="yes" type="checkbox" checked="checked" /> {{ .Site.Params.sign.formPermissionNews }}
                    </label>
                    <br />
                    <label class="form-pe">
                      <input name="permissionPub" value="yes" type="checkbox" checked="checked" /> {{ .Site.Params.sign.formPermissionPub | markdownify}}
                    </label>
                  </p>
                  
                  <label id="honey"> <!-- Honeypot for spam -->
                    <p>Please do not put anything here:</p>
                    <input name="url" type="text" />
                  </label>
                  <br />
                  <button name="action" value="sign" type="submit">{{ .Site.Params.sign.formSubmit }}</button>
                </form>
            </div>
        </div>
    </div>
</section>
