<form action="https://us-central1-publiccodeasia.cloudfunctions.net/subscribe" method="POST" accept-charset="utf-8">
  <input name="appid" type="hidden" value="pmpc-sign" />
  <label class="sign-input form-na">
    <input name="name" id="name" placeholder="{{ .Site.Params.action.form.name }}" type="text" required />
  </label>
  <label class="sign-input form-em">
    <input name="email" id="email" placeholder="{{ .Site.Params.action.form.email }}" type="email" required />
  </label>
  <br />
  <label class="sign-input form-cn">
    <select name="country" id="Country">
      <option value="">{{ .Site.Params.action.form.country }}</option>
      {{ $json := getJSON "data/countries/countries.json" }}
      {{ range sort $json "name" "asc" }}
        <option value="{{ .name }}">{{ .name }}</option>
      {{ end }}
    </select>
  </label>
  <label class="sign-input form-rg">
    <input name="Region" id="Region" placeholder="{{ .Site.Params.action.form.region }}" type="text" />
  </label>
  <label class="sign-input form-og">
    <input name="Organization" id="Organization" placeholder="{{ .Site.Params.action.form.organization }}" type="text" />
  </label>
  <label class="sign-input form-co">
    <input name="comment" id="Comment" placeholder="{{ .Site.Params.action.form.comment }}" type="text" maxlength="140" />
  </label>
  <div class="form-pe">
    <div>
      <label class="form-pe" for="permissionPriv">
        <input name="permissionPriv" id="permissionPriv" value="yes" type="checkbox" required /> {{ replace .Site.Params.action.form.permPriv "privacy/" ("/privacy" | relLangURL) | markdownify }}
      </label>
    </div>
    <div>
      <label class="form-pe" for="permissionPub">
        <input name="permissionPub" id="permissionPub" value="yes" type="checkbox" /> {{ replace .Site.Params.action.form.permPub "openinitiative/all-signatures" ("/openinitiative/all-signatures" | relLangURL) | markdownify}}
      </label>
    </div>
  </div>

  <div style="display:none;">
    <label for="hp">HP</label><br/>
    <input type="text" name="hp" id="hp"/>
  </div>
  <input type="hidden" name="list" value="3DgINxa6kL069W892X0763H1VA"/>

  <label id="honey"> <!-- Honeypot for spam -->
    <p>Please do not put anything here:</p>
    <input name="url" type="text" />
  </label>
  <br />
  <button name="submit" id="submit" value="sign" type="submit" class="btn btn-default btn-xl">{{ .Site.Params.action.form.submit }}</button>
</form>
