{{ $.Scratch.Set "langext" "" }}
{{ if and (or (eq .Lang "de") ) }}
  {{ $.Scratch.Add "langext" (printf "_%s" .Lang) }}
{{ end }}
<center>
  <video controls="controls" poster="/img/poster.jpg" crossorigin="crossorigin" width="100%">
    <source src="https://download.fsfe.org/videos/pmpc/pmpc{{$.Scratch.Get "langext"}}_desktop.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' media="screen and (min-device-width:1000px)" />
    <source src="https://download.fsfe.org/videos/pmpc/pmpc{{$.Scratch.Get "langext"}}_desktop.webm" type='video/webm; codecs="vp9, opus"' media="screen and (min-device-width:1000px)" />
    <source src="https://download.fsfe.org/videos/pmpc/pmpc{{$.Scratch.Get "langext"}}_mobile.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' media="screen and (max-device-width:999px)" />
    <source src="https://download.fsfe.org/videos/pmpc/pmpc{{$.Scratch.Get "langext"}}_mobile.webm" type='video/webm; codecs="vp9, opus"' media="screen and (max-device-width:999px)" />
    
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_en.vtt" kind="subtitles" srclang="en" label="English">
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_de.vtt" kind="subtitles" srclang="de" label="Deutsch">
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_es.vtt" kind="subtitles" srclang="es" label="Español">
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_fr.vtt" kind="subtitles" srclang="fr" label="Français">
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_it.vtt" kind="subtitles" srclang="it" label="Italian">
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_nl.vtt" kind="subtitles" srclang="nl" label="Nederlands">
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_pt.vtt" kind="subtitles" srclang="pt" label="Português">
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_sk.vtt" kind="subtitles" srclang="sk" label="Slovenský">
    <track src="https://publiccode.eu/video-subs/webvtt/pmpc_zh.vtt" kind="subtitles" srclang="zh" label="正體中文（臺灣）">
  </video>
</center>
